model:
  in_channels: 2
  num_classes: 10
  weights:
dataset: "./data/samples_processed_split.npz"
batch_size: 1024
num_epochs: 300
seed: 42
optimizer:
  name: AdamW
  params:
    lr: 0.001
    weight_decay: 0.1
scheduler:
  name: ReduceLROnPlateau
  params:
    mode: max
    factor: 0.5
    patience: 5
